In [2]:
import pandas as pd

df= pd.read_csv("drug200.csv")

df.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  DrugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  DrugY

In [5]:
df['Cholesterol'].value_counts()

HIGH      103
NORMAL     97
Name: Cholesterol, dtype: int64

In [6]:
df['BP'].value_counts()

HIGH      77
LOW       64
NORMAL    59
Name: BP, dtype: int64

In [7]:
df['Sex'].value_counts()

M    104
F     96
Name: Sex, dtype: int64

In [8]:
df['Drug'].value_counts()

DrugY    91
drugX    54
drugA    23
drugB    16
drugC    16
Name: Drug, dtype: int64

In [9]:
df.isnull().sum()

Age            0
Sex            0
BP             0
Cholesterol    0
Na_to_K        0
Drug           0
dtype: int64

In [14]:
cols =['Sex','BP','Cholesterol']

df_new=pd.get_dummies(df,columns=cols,drop_first=True)

df_new

     Age  Na_to_K   Drug  Sex_M  BP_LOW  BP_NORMAL  Cholesterol_NORMAL
0     23   25.355  DrugY      0       0          0                   0
1     47   13.093  drugC      1       1          0                   0
2     47   10.114  drugC      1       1          0                   0
3     28    7.798  drugX      0       0          1                   0
4     61   18.043  DrugY      0       1          0                   0
..   ...      ...    ...    ...     ...        ...                 ...
195   56   11.567  drugC      0       1          0                   0
196   16   12.006  drugC      1       1          0                   0
197   52    9.894  drugX      1       0          1                   0
198   23   14.020  drugX      1       0          1                   1
199   40   11.349  drugX      0       1          0                   1

[200 rows x 7 columns]

In [20]:
y=df['Drug']

X=df_new.drop(['Drug'],axis=1)

X

     Age  Na_to_K  Sex_M  BP_LOW  BP_NORMAL  Cholesterol_NORMAL
0     23   25.355      0       0          0                   0
1     47   13.093      1       1          0                   0
2     47   10.114      1       1          0                   0
3     28    7.798      0       0          1                   0
4     61   18.043      0       1          0                   0
..   ...      ...    ...     ...        ...                 ...
195   56   11.567      0       1          0                   0
196   16   12.006      1       1          0                   0
197   52    9.894      1       0          1                   0
198   23   14.020      1       0          1                   1
199   40   11.349      0       1          0                   1

[200 rows x 6 columns]

In [25]:
from  xgboost import XGBClassifier
import time
from sklearn.metrics import accuracy_score


xgb = XGBClassifier(n_estimators=100)
training_start = time.perf_counter()
xgb.fit(X_train, y_train)
training_end = time.perf_counter()
prediction_start = time.perf_counter()
preds = xgb.predict(X_test)
prediction_end = time.perf_counter()
acc_xgb=accuracy_score(y_test, preds)
print("XGBoost's prediction accuracy is: %3.2f" % (acc_xgb))

[15:53:01] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
XGBoost's prediction accuracy is: 1.00

C:\Users\eshjaya\AppData\Roaming\Python\Python38\site-packages\xgboost\sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

XGBoost's prediction accuracy is: 1.00